@media screen and (min-width: 480px) {
  /*CSS if screen size >= 480px*/
  body {
    /* background-color: #f1f1f1; */
  }
}

html, body, h1 {
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
  height: 100%;
}

.content {
  max-width: 480px;
  height: 100%;
  margin:auto;
  /* background-color: white; */
}

button, #play, #record, #delete, #download {
  -webkit-appearance:none;
  font-size: 400%;
  margin: 0px;
  padding-left: 6px;
  padding-right: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  font-size: 5pt;
  /* position: absolute; */
  /* bottom: 0px; */
  width: 100%;
}

.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.3s;
  width: 50%;
}

.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  color: white;
  background-color:rgba(242, 118, 109, 1);
}

#stop {
  display: none;
}

#stop-playing {
  display: none;
}
input.clip-name[type=text] {
  width: 200px; /* match width of the checkboxes */
  padding: 0px 0px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input.clip-name[type=text], select {
  border: none;
}

input.login-input[type=text], select {
  width: 90%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width:200px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}
input[type='checkbox']:checked {
  background: #abd;
}

#control-panel {
    -webkit-appearance: none;
    /* position: absolute; */
    /* bottom: 70px; */
    /* left: calc(50% - 52.45px); */
    width: 100%;
    /* margin-top: 10px; */
    padding: 10px 0px;
    height: 132.67px;
}

#recordlist {
  -webkit-appearance:none;
  /* offset height of control panel and title */
  height: calc(100% - 152.67px - 36.67px - 48px);
  /* height: calc(100% - 112.67px - 36.67px - 48px); */
  overflow-y: auto;
  width: 100%;
  /* position: relative; */
  /* overflow: scroll; */
}

#merge, #login-button {
  -webkit-appearance:none;
  border-width:0px;
  /* position:absolute;
  left:0px;
  top:0px; */
  width:140px;
  height:40px;
  color: white;
  background:inherit;
  background-color:rgba(242, 118, 109, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
}

body {
  -webkit-appearance:none;
  text-align: center;
}



button#login-button {
    width: 90%;
    margin: 5px 0;
}

body.vsc-initialized {
    margin: 0px;
}